:host {
    display: block;
}

.type-value {
    display: flex;
}

.value {
    flex: 1;
    margin-left: 10px;
    min-width: 200px;
}

.key {
    margin: 5px 0;
    padding: 10px 0 10px 10px;
    position: relative;
}
    
.key:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 15px;
    border: 1px solid;
    border-right: 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    pointer-events: none;
}

.key > button {
    margin-left: 10px;
}

.new-field-type {
    margin-left: 10px;
    margin-right: 10px;
}