<mat-form-field *ngIf="ready" appearance="fill" color="accent">
    <mat-label>Event type</mat-label>
    <mat-select [formControl]="type">
        <mat-option value="changeMedia">Change Media</mat-option>
        <mat-option value="custom">Custom</mat-option>
    </mat-select>
</mat-form-field>
<mat-form-field *ngIf="ready && getType() === 'custom'" appearance="fill" color="accent" class="type-name">
    <mat-label>Event type name</mat-label>
    <input matInput placeholder="chatMsg" [formControl]="typeName" required>
    <mat-error *ngIf="typeName.invalid">{{ typeName.errors?.errors.join(', ') }}</mat-error>
</mat-form-field>